body {
    font-family: Signika, sans-serif;
    background-image: url("../images/hedge-maze.jpg")
}

a {
    color: rgb(47, 80, 132);
}

.grid-container {
    margin: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
        "about-me about-me about-me featured-sites"
        "penpal-club-info penpal-club-info bug-report bug-report";
    
    gap: 1rem;
}

.grid-item {
    padding: 1rem;
    border-radius: 10px;
    opacity: 0.92;
    background-image: url("../images/parchment-texture.jpg");
}

.about-me {
    grid-area: about-me;
}

.featured-sites {
    grid-area: featured-sites;
}

.penpal-club-info {
    grid-area: penpal-club-info;
}

.bug-report {
    grid-area: bug-report;
}

.nameplate {
    display: flex;
    align-items: center;
}

.nameplate-name {
    margin: 0px;
    margin-bottom: 0.6rem;
}

.nameplate-image {
    width: 5rem;
    height: auto;
    flex-shrink: 0;
    margin: 1rem;
}

.nameplate-content {
    flex: 1;
}

.penpal-club-image {
    display: block;
    width: 25rem;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.tag {
    background-color: rgb(94, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(216, 195, 132);
    padding: 0.2rem;
}

.info {
    color: rgb(247, 243, 232);
    background-color: rgb(47, 80, 132);
    border: 1px solid rgb(92, 135, 185);
    border-radius: 5px;
    padding: 8px;
    box-shadow: rgb(0, 0, 0) 0px 0px 4px 0px;
    text-shadow: rgb(0, 0, 0) 1px 1px 3px;
}

.discord-like-indent {
    border-left: 0.2rem solid rgb(92, 135, 185);
    padding-left: 0.4rem;
    margin-left: 0.3rem;
}